BaseProject/.vs/
BaseProject/SimpleGame/x64/
BaseProject/Debug/
BaseProject/Release/
BaseProject/x64/Debug/SimpleGame.exe
BaseProject/x64/Debug/SimpleGame.pdb
BaseProject/x64/Release/SimpleGame.exe
BaseProject/x64/Release/SimpleGame.pdb
